header {
    background-color: #605d57;
    height: 200px;
    display: flex;
    justify-content: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style-type:none;
    
}

li {
    margin: 0px 20px;
}
a {
    text-decoration-line: none;
}

.list-header{
    display: flex;
}


#logotipo {
    width: 300px;
    height: 80px;
}