header {
    background-color: #605d57;
    height: 100px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    display: flex;
}

nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px 16px;
}

#divBusca{
  background-color:#E0EEEE;
  border-radius:8px;
  width:300px;
  height:32px;
}

#txtBusca{
  float:left;
  background-color:transparent;
  padding-left:5px;
  font-family: 'Gabarito' sans-serif;
  font-size:18px;
  border:none;
  height:32px;
  width:223px;
}

#btnBusca{
  border:none;
  float:left;
  height:32px;
  border-radius:0 7px 7px 0;
  width:70px;
  font-family: 'Gabarito' sans-serif;
  font-weight:bold;
  background:#7f7f7f;
}

#divBusca img{
  float:left;
}

#logotipo {
    width: 200px;
    height: 60px;
    margin: 0px, 100px;
    padding: 0px;
}

#pesquisar {
    height: 20px;
    margin: 8px;
}

ul {
    display: flex;
    gap: 15px;
    margin: 8px;
    padding: 0px;
}

li{
    list-style-type: none;
}

a {
    text-decoration: none;
    width: 150px;
    height: 40px;
    font-family: 'Gabarito', sans-serif;
    color: white;
}

p{
    font-family: 'Gabarito', sans-serif;
}